$space: 12px;
$border-radius: 6px;

$search-input-height: 30px;

.container {
    padding: $space;

    .search-div {
        width: 100%;
        height: $search-input-height;
        margin: $space 0px $space 0px;

        .search-input {
            height: 100%;
            width: 100%;
            padding: 0px 10px 0px 10px;
            border-radius: $search-input-height;
        }
    }

    .block {
        padding: 6px 0px 6px $space;
        border-left: 1px solid #999;

        .title-description {
            font-size: 17px;
            margin-bottom: $space;
            color: #ddd;
        }

        .portail-instances-list {
            max-height: 600px;
            overflow-y: auto;

            .doc-elem {
                align-items: center;
                margin-bottom: 6px;
                color: #ddd;

                .code {
                    font-size: 14px;
                    margin-right: $space;
                }

                .url {
                    font-size: 13px;
                    text-decoration: none;
                    margin-right: $space;
                }

                .name {
                    font-size: 13px;
                }
            }
        }
    }
}
